<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
    <div class="ix wrapper col-xl-4 col-xl-offset-4 col-sm-12">
      <% if user.id != current_user.id %>
        <%= link_to user_path(user.id) do %>
          <div class="prof_img">
            <%= profile_img(user) %>
          </div>
        <% end %>
        <%= user.email %>

        <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
      <% end %>
    </div>
  <% end %>
</div>